<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am a Data Engineer with experience of developing end-to-end machine learning/data pipeline with data validation and pipeline testing. I have the a team comperising of data scientist and data engineer, lead the design and development of Data Ecosystem on GCP as well as Azure for different client. I am a certified <a href="https://www.credential.net/top1ul4i">Google Cloud Data Engineer</a> and also completed <a href="https://confirm.udacity.com/AD3CW6MX">Udacity Self-Driving car Nanodegree</a>.</p>
</div><!--//summary-->
</section><!--//section-->