<div class="talk-container container-block">
<h2 class="container-block-title"><i class="fa fa-certificate"></i> Certificate</h2>

<div class="item">
    <h4 class="title"><a href="https://www.credential.net/top1ul4i">Google Certified Profession Data Engineer</a></h4>
</div><!--//item-->

<div class="item">
    <h4 class="title"><a href="https://graduation.udacity.com/nd013">Udacity Self-Driving Car Nanodegree</a></h4>
</div><!--//item-->
    
<div class="item">
    <h4 class="title"><a href="https://www.dropbox.com/s/8x0p4nudvmca79k/287_Satyasheel.pdf?dl=0">Certificate in Engineering ExcellenceinBig Data Analytics and Optimization</a></h4>
</div><!--//item-->

</div><!--//talk-container-->