 <div class="education-container container-block">
<h2 class="container-block-title"><i class="fa fa-graduation-cap"></i> Education</h2>
<div class="item">
    <h4 class="degree">MSc in Machine Learning</h4>
    <h5 class="meta"><a href="https://www.royalholloway.ac.uk/home.aspx">Royal Holloway University of London</a></h5>
    <div class="time">2015 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BE in Electronics & Communications</h4>
    <h5 class="meta"><a href="https://www.bitmesra.ac.in/">Birla Institute of Technology, Mesra</a></h5>
    <div class="time">2008 - 2012</div>
</div>
</div>