<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Data Engineer Manager</h3>
                <div class="time">Nov, 2019 - Present</div>
            </div><!--//upper-row-->
            <div class="company"><a href="https://www.quantexa.com/">Quantexa</a></div>
        </div><!--//meta-->
        <div class="details">
            <p>
                <li>Building scalable data pipeline on Google cloud for anti money laundering system using scala spark, elastic search and Apache Airflow.</li>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Machine Learning Engineer</h3>
                <div class="time">July, 2016 - Nov 2019</div>
            </div><!--//upper-row-->
            <div class="company"><a href="https://www.datareply.co.uk/">Data Reply, London</a></div>
        </div><!--//meta-->
        <div class="details">
            <p>
                <li>Lead the design and development of MLops pipline using Sagemaker, MLFlow and S3 for one the leading sports apperale retailer in the world</li>
                <li>Lead the design and development of Data Ecosystem for on of the leading retailer in the UK on Azure</li>
                <li>Developed a Machine Learning pipeline for an online retail organisation in the UK, predicts which customer is going to churn in next 90 days. This whole pipeline was built on Google Cloud and orchestrated via Apache Airflow</li>
                <li>Built a predictive and analytical pipeline for state agency in Ireland which identifies wether an operator is skipping or manipulating the vehicle test with tester.</li>
                <li>Developed multiplayer pong game over the network which identifies the human hand gesture (Using Convolutional Neural Network) and plays the game. Model which Identifies the hand gesture was trained on custom generated Images.</li>
                <li>Developed an analytical pipeline which performs number of ETL operationas and the update a visualisation dashboard for an analyst to perform further inspection of delevery and purchase data. This pipeline was deleoped for an Online Retail organisation in the UK.</li>
        </div><!--//details-->
    </div><!--//item-->

    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Data Scinetist</h3>
                <div class="time">December 2014 - August 2015</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.cyient-insights.com/">Cyient-Insights, Hyderabad, India</a></div>
        </div><!--//meta-->
        <div class="details">
            <p>
                <li>Built an analytical pipeline for Identifying the faulty sensor or going to be faulty sensors of an Aircraft for a Civil aviation sector organisation, tools I used were R and a single system with 32 GB RAM plus 16 Core Processors.</li>
                <li>Mentored two interns, this includes helping them to get the feel of real world data science and how to productionize a data science project.</li>
                <li>Created a training workshop for fresh graduates in the organisation, this training inclides Machine Learning with python.</li>
                <li>Trained 11 graduates on Data Science/Machine Learning with Python</li>
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">System Engineer</h3>
                <div class="time">Ocotber 2012 - November 2014</div>
            </div><!--//upper-row-->
            <div class="company"><a href="https://www.infosys.com/digital/offerings/business-process-management/solutions/Pages/technology.aspx">Business Process Management Team, Infosys, Hyderabad, India</a></div>
        </div><!--//meta-->
        <div class="details">
            <p>
                <li>Developed an business process for large scale automated document verification. This process was developed for a leading financial organisation in USA.</li>
                <li>Gave training on Appain Business Process Managment to new graduates joing Infosys BPM team.</li>
            </p>

        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->