<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-ticket"></i>Extracurricular Activites</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Organiser</h3>
                            <div class="time">Jan 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.meetup.com/en-AU/Apache-Flink-London-Meetup/">Flink London meetup</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Organised several flink meetup with different speaker on topics like, streaming analytics, streaming sql and several Flink use cases.</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Member</h3>
                            <div class="time">September 2015 - April 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.royalholloway.ac.uk/home.aspx">Student-Staff committe at Royal Holloway University of London</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Organised several meeting with staff in Royal holloway university of London to discuss the progress of different student and thier concern.</li>
                        </p>

                    </div><!--//details-->
                </div><!--//item-->
    
            </section><!--//section-->