<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                  <!--   <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p> -->
                </div><!--//intro-->
<!--
                <div class="item">
                    <span class="project-title"><a href="https://github.com/shagunsodhani/papers-I-read">A-Paper-A-Week</a></span> - <span class="project-tagline">Committed myself to reading and summarising a research paper every week.</span>
                    
                </div>
-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mlgruby/Markov-Chain-for-ranking-document">Markov-Chain for document ranking</a></span> - 
                    <span class="project-tagline">Used markov chain simulation to rank list of emails in a tree network. This project was written in Java.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mlgruby/Neural_Network">Neural-Network form scratch</a></span> - <span class="project-tagline">Native python based two layer neural-network from scratch. All optimisation and gradients calculations written from scratch</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="">K-NN Classification from scratch</a></span> - <span class="project-tagline">Developed and implemented multi-class image classification using euclidian and tagent distance metric.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mlgruby/CarND-Finding-Lane-Lines">Finding Lane Lines</a></span> - <span class="project-tagline">Efficient implementation of computer vision algorith to find and lable the lane lines ion road using open CV.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/shagunsodhani/iota/">Multiple Self driving car projects which I have done during my Udacity Self-Driving car nanodegree</a></span> - <span class="project-tagline">Implemented multiple self-driving car project. Some of them are Sefl-Driving car PID control, Nonlinear Model Predictive Control with actuator delays, Localisation in self-Driving car</span>
                </div><!--//item-->
            </section><!--//section-->