<div class="talk-container container-block">
<h2 class="container-block-title"><i class="fa fa-television"></i> <a href="http://shagunsodhani.in/talks/">Talks</a></h2>
<h3 class="container-block-title">2016</h3>

<div class="item">
    <h4 class="title"><a href="https://www.slideshare.net/ChristosHadjinikolis/flink-meetup-72693350">Get your hands on implementing a Flink app</a></h4>
    <h5 class="venue"><a href="https://www.meetup.com/en-AU/Apache-Flink-London-Meetup/">Flink London meetup</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->
</div><!--//talk-container-->