<div class="talk-container container-block">
    <h2 class="container-block-title"><i class="fa fa-television"></i> <a href="http://shagunsodhani.in/talks/">Talks</a></h2>
    
    <h3 class="container-block-title">2018</h3>
    <div class="item">
        <h4 class="title"><a href="https://www.slideshare.net/kaxil/apache-airflow-in-the-cloud-programmatically-orchestrating-workloads-with-python-pydata-london-2018-95391267" target='_blank'>Apache Airflow in the Cloud: Programmatically orchestrating workloads with Python</a></h4>
        <h5 class="venue"><a href="https://dev.tube/video/ZZ5okeRGRB8" target='_blank'>PyData Conference London</a></h5>
        <!-- <div class="time">2017</div> -->
    </div><!--//item-->
    
    <h3 class="container-block-title">2016</h3>
    
    <div class="item">
        <h4 class="title"><a href="https://www.slideshare.net/ChristosHadjinikolis/flink-meetup-72693350" target='_blank'>Get your hands on implementing a Flink app</a></h4>
        <h5 class="venue"><a href="https://www.meetup.com/en-AU/Apache-Flink-London-Meetup/" target='_blank'>Flink London meetup</a></h5>
        <!-- <div class="time">2017</div> -->
    </div><!--//item-->
    </div><!--//talk-container-->