<div class="talk-container container-block">
<h2 class="container-block-title"><i class="fa fa-rocket"></i> Technical Skills</h2>

<div class="item">
    <h4 class="title">Languages</h4>
    <h5 class="venue">Python, Scala, R, Java</h5>
</div><!--//item-->

<div class="item">
    <h4 class="title">Technologies</h4>
    <h5 class="venue">Keras, TensorFlow, Spark, Beam, Hadoop, Bigtable, MySQL, Git, Linux</h5>
</div><!--//item-->
    
<div class="item">
    <h4 class="title">Cloud Platform</h4>
    <h5 class="venue">Google Cloud</h5>
</div><!--//item-->

</div><!--//talk-container-->